<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/article-example.css">
    <title>Article example</title>
</head>

<body>
    <img src="https://source.unsplash.com/XBxQZLNBM0Q/435x230">
    <article>
        <h1>These long-lived woody plants have benefits for the entire planet</h1>
        <div class="metas">
            By John Doe | Thurday, 14:24
        </div>
        <p>Trees have been around for some 370 million years. These long-lived woody plants can be found on every
            continent except Antarctica. Scientists have identified more than <strong>60,000 tree species</strong>. And they’ve estimated that
            there are <strong>3.04 trillion</strong> individual trees growing across the globe.</p>
        <p>Trees provide homes for animals and shade for people on hot days. One of their big benefits is that they soak
            up and store the greenhouse gas carbon dioxide. Some people have suggested that planting trees could help to
            negate the impact of global warming. Researchers last year, though, warned that the easy and simple idea wasn’t so
            easy and simple after all. It would be difficult to plant enough trees. However, planting trees could help — if
            done thoughtfully, and in the right places.</p>
        <blockquote>Discovering a totally new source of amber would be exciting</blockquote>
        <p>Many fossils, or traces of ancient life, look like dull rocks. That’s because they’re typically made of
            minerals that gradually replaced the structure of the ancient organism. But amber often gleams with a warm
            golden glow. That’s because it started out as a yellowish blob of sticky resin inside a tree. Then, when the
            tree fell and got buried, it spent millions of years being heated under pressure deep within Earth’s crust.
            There, the resin’s carbon-bearing molecules bonded to each other to form a natural polymer. (Polymers are
            long, chain-like molecules that include repeating groups of atoms. Besides amber, other natural polymers
            include rubber and cellulose, a major component of wood.)</p>
        <p>After these tests, Jonna compared the fingerprints for the ancient amber with those obtained in previous studies for modern-day resins.
            Five of her six samples matched a known type of amber. It is what scientists call “Group A.” Those bits of amber likely came from conifers,
            or cone-bearing trees, that belong to a group called Aracariauaceae (AIR-oh-kair-ee-ACE-ee-eye).
            Found almost worldwide during the dinosaur era, these thick-trunked trees now grow mainly in the Southern Hemisphere.</p>
    </article>
</body>
</html>
