<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="amphtml" href="https://playground.marfeel.com/templates/article-skeleton-amp.html">
    <link rel="stylesheet" href="../css/styles-skeleton.css">
    <link rel="icon" href="../assets/favicon.png" />
    <title>Article example</title>
</head>

<body>
    <div class="topmedia"></div>
    <div class="content">
        <div class="h1 w-90 mb-xs"></div>
        <div class="h1 w-80 mb-xs"></div>
        <div class="h1 w-85 mb-m"></div>
        <div class="metas mb-xl">
            <div class="avatar"></div>
            <div class="author"></div>
        </div>
        <div class="paragraph w-100"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-100"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-90 mb-xl"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-100"></div>
        <div class="paragraph w-80 mb-xl"></div>
        <div class="h1 w-80 mb-l"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-75"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-85 mb-xl"></div>
        <div class="topmedia"></div>
        <div class="paragraph w-100"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-85 mb-xl"></div>
        <div class="paragraph w-100"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-100"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-75"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-100"></div>
        <div class="paragraph w-80 mb-xl"></div>
        <div class="h1 w-80 mb-l"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-85"></div>
        <div class="topmedia"></div>
        <div class="paragraph w-100"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-85 mb-xl"></div>
        <div class="paragraph w-100"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-100"></div>
        <div class="paragraph w-90"></div>
        <div class="topmedia"></div>
        <div class="paragraph w-100"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-85 mb-xl"></div>
        <div class="paragraph w-100"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-100"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-75"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-100"></div>
        <div class="paragraph w-80 mb-xl"></div>
        <div class="h1 w-80 mb-l"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-100"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-100"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-80 mb-xl"></div>
        <div class="h1 w-80 mb-l"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-100"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-75"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-85 mb-xl"></div>
        <div class="topmedia"></div>
        <div class="paragraph w-100"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-85 mb-xl"></div>
        <div class="paragraph w-100"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-100"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-85"></div>
        <div class="paragraph w-80"></div>
        <div class="paragraph w-75"></div>
        <div class="paragraph w-90"></div>
        <div class="paragraph w-100"></div>
    </div>
</body>
</html>
